:root {
  --grey: #959595;
  --softgrey: #e8e8e8;
  --handwriting: 'Montserrat', sans-serif;
  }
*{
margin: 0;
padding: 0;
}

main {
  font-family: 'Atma', cursive;
  font-family: 'Limelight', cursive;  
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  color: var(--grey);
}