:root {
  --grey: #959595;
  --softgrey: #e8e8e8;
  --handwriting: 'Montserrat', sans-serif;
  }
*{
margin: 0;
padding: 0;
}

.footer{
  width: 100%;
  padding: 5px;
  background-color: var(--grey);
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--softgrey);
  position: fixed;
}